@model Supervise_.Models.sp_GP_Group

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>sp_GP_Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   <select  class="form-control" asp-for="Supervisor_Name">
                    <option value="">select a supervisour</option>
                      @foreach (sp_instructor spr in ViewBag.Superv)
                        {
                             <option value = "@spr.Name"  > @spr.Name  </option>
                        }

                </select> 

            <div class="form-group">
                <label asp-for="Project_idea" class="control-label"></label>
                <input asp-for="Project_idea" class="form-control" />
                <span asp-validation-for="Project_idea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project_scope" class="control-label"></label>
                <input asp-for="Project_scope" class="form-control" />
                <span asp-validation-for="Project_scope" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project_title" class="control-label"></label>
                <input asp-for="Project_title"  class="form-control" />
                <span asp-validation-for="Project_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project_description" class="control-label"></label>
                <input asp-for="Project_description" class="form-control" row ="4" />
                <span asp-validation-for="Project_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
