
@{
    ViewData["Title"] = "FacultyHome";
}

<h1>FacultyHome</h1>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/f1.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/f2.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                <a asp-controller="sp_instructor" asp-action="Edit"><img src="~/images/f3.png" alt="" width="250"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/f4.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/f5.png" alt="" width="250"></a>
            </div>

            </div>
        </div>
    </div>
</body>

