
@{
    ViewData["Title"] = "FacultyHome";
}

<h1>FacultyHome</h1>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a href="page1.html"><img src="~/images/My Assesment faculty.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                <a href="page2.html"><img src="~/images/My groups faculty.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                <a href="page3.html"><img src="~/images/My profile faculty.png" alt="" width="250"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a href="page1.html"><img src="~/images/project ideas faculty.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                <a href="page2.html"><img src="~/images/Supervision req faculty.png" alt="" width="250"></a>
            </div>

            </div>
        </div>
    </div>
</body>

