
@{
    ViewData["Title"] = "GPMemberHome";
}

<h1>GP Committee Home</h1>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/gp1.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/gp2.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                <a asp-controller="sp_instructor" asp-action="Create"><img src="~/images/gp3.png" alt="" width="250"></a>
            </div>
              
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/gp4.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                <a asp-controller="sp_gp_setting" asp-action="Create"><img src="~/images/gp5.png" alt="" width="250"></a>
            </div>
              <div class="col-md-3">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/gp6.png" alt="" width="250"></a>
            </div>

            </div>

             <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/gp6.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/gp7.png" alt="" width="250"></a>
            </div>
              <div class="col-md-3">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/gp8.png" alt="" width="250"></a>
            </div>

             <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/gp9.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/gp11.png" alt="" width="250"></a>
            </div>
              <div class="col-md-3">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/gp12.png" alt="" width="250"></a>
            </div>

            </div>
        </div>
    </div>
</body>