@{
    ViewData["Title"] = "Home Page";
}
<div class="display-4">
    <a asp-action="login"> 
        <img scr="~/images/Students"height="30" />

    </a>
</div>
     

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
