
@{
    ViewData["Title"] = "sthome";
}

<h1>sthome</h1>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<h1>sthome</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2></h2>
      <p></p>
      <p></p>
    </div>
    <div class="col-md-4">
      <h2>Student Home Page</h2>
      <p></p>
      <p></p>
    </div>
    <div class="col-md-4">
      <h2></h2>
      <p></p>
      <p></p>
    </div>
  </div>
</div>

