

<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<h1 style="text-align:center">Student Home Page </h1>     <h2 style="text-align:center; color:darkblue">welcome @ViewData["na"]  </h2> 
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a asp-controller="sp_student" asp-action="Index"><img src="~/Image/icon1.png" alt="" width="250"></a>
               
            </div>
            <div class="col-md-3">
               <a asp-controller="sp_student" asp-action="Index"><img src="~/Image/icon2.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                <a asp-controller="sp_student" asp-action="Index"><img src="~/Image/icon3.png" alt="" width="250"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                 <a asp-controller="sp_student" asp-action="Index"><img src="~/Image/icon4.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                 <a asp-controller="sp_GP_Group" asp-action="Create"><img src="~/Image/icon5.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                 <a asp-controller="sp_gp_ideas" asp-action="Index"><img src="~/Image/icon6.png" alt="" width="250"></a>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                 <a asp-controller="sp_instructor" asp-action="Index"><img src="~/Image/icon7.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                 <a asp-controller="sp_student" asp-action="Index"><img src="~/Image/icon8.png" alt="" width="250"></a>
            </div>
            <div class="col-md-3">
                 <a asp-controller="sp_gp_ideas" asp-action="Index"><img src="~/Image/icon9.png" alt="" width="250"></a>
            </div>
        </div>
    </div>
     <div class="row">
            <div class="col-md-3"></div>
             <div class="col-md-3">
                  <a asp-controller="sp_GP_Group" asp-action="Index"><img src="~/Image/icon10.png" alt="" width="300"></a>
                   </div>
                    <div class="col-md-3"></div>
        </div>
    </div>
</body>


